.contact-details {
    width: 40vw;
    margin: auto;
    background-color: #375a5a;
    padding-bottom: 20px;
    .edit-btns {
        display: flex;
        justify-content: space-between;
        background-color: rgb(9, 15, 15);
        button {
            color: #f2f2f2;
            font-size: 16px;
            background-color: inherit;
            border: 0;
            outline: none;
            padding: 10px 20px;
        }
    }

    .contact-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
        img {
            width: 100px;
            border-radius: 50%;
            background: #f2f2f2be;
            margin: auto;
        }
        h2 {
            margin: 1rem 0px 1rem;
            font-size: 26px;
            color: rgb(9, 15, 15);
        }
        h3 {
            margin: 0px 0px 0.8rem;
            font-size: 20px;
            color: rgb(9, 15, 15);
        }
    }
    @media (max-width: 460px) {
        width: auto;
    }
}
