<div *ngIf="contact" class="contact-details">
  <div class="edit-btns">
    <button (click)="onBack()">Back</button>
    <button (click)="onEditContact()">Edit</button>
  </div>
  <div class="contact-info">
    <img src='https://robohash.org/{{contact.email}}.png?set=set5'>
    <h2>{{contact.name}}</h2>
    <h3>{{contact.email}}</h3>
    <h3>{{contact.phone}}</h3>
  </div>
  <trunsfer-funds [contact]="contact"></trunsfer-funds>
  <move-list *ngIf="movesPerContact.length > 0" [moves]="movesPerContact"></move-list>
</div>