.edit-section {
    width: 40vw;
    margin: auto;
    background-color: #375a5a;
    padding-bottom: 20px;
    .edit-btns {
        display: flex;
        justify-content: space-between;
        background-color: rgb(9, 15, 15);
        button {
            color: #f2f2f2;
            font-size: 16px;
            background-color: inherit;
            border: 0;
            outline: none;
            padding: 10px 20px;
        }
    }
    .contact-edit {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
        input {
            padding: 10px;
            border: 0;
            background-color: #213636;
            color: #b7cccc;
            font-size: 17px;
            width: 80%;
            margin-bottom: 0.5rem;
        }
        button {
            padding: 10px;
            border: 0;
            background-color: #af4069;
            color: #f2f2f2;
            font-size: 17px;
            width: 80%;
            margin-bottom: 0.5rem;
        }
    }
    @media (max-width: 460px) {
        width: auto;
    }
}
